@import "tailwindcss";
@import "flyonui/src/vendor/notyf.css";
@import "flyonui/variants.css";
@plugin "@iconify/tailwind4";
@plugin "flyonui" {
    themes: light --default, dark --prefersdark, mintlify;
}
@source "./node_modules/flyonui/dist/index.js";

/* เพิ่มตรงนี้ */
@theme {
    --font-sans: Inter, sans-serif;
    --font-thai: Prompt, sans-serif;
}
